img {
    width: 300px
}

body {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url('https://wallpaperaccess.com/full/3118885.jpg');
    color:cornsilk;
}

body2 {
    text-align: left;
}